body{
   background-color: #b2e2f2
}


.container{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.form{
    border: 5px solid;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet) 1;
    height: 60vh;
    width: 40vh;
    text-align: center;
    background-color:white;
    margin-top: 20vh;
    background-image: url(img/fundo-dos-desenhos-animados-da-paisagem-do-mar-79996224.webp);
    background-size: 75vh;
    background-repeat: no-repeat;
    
}

.form h2{
    text-align: center;
    font-family: "New Amsterdam", sans-serif;
    color: white;
    font-size: 50px;
}

input{
    width: 25vh;
    height: 3vh;
    border-radius: 10px;
}

.iptCadast{
    margin-top: 10px;
}
.iptLimpar{
    margin-top: 10px;
}
.iptCadast :hover{
    background-color: #b2e2f2 ;
}
.iptLimpar :hover{
    margin-top: 10px;
    background-color: #b2e2f2 ;
}

input:valid{
    border: 2px solid white;
}

input:invalid{
    border: 2px solid white;
}

